<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:label="Step Counter"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
                />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- URL লঞ্চিং এবং সোশ্যাল মিডিয়া অ্যাপ এক্সেসের জন্য কুয়েরিজ -->
    <queries>
        <!-- সাধারণ ওয়েব লিঙ্ক -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- স্পেসিফিক সোশ্যাল মিডিয়া অ্যাপস -->
        <package android:name="com.facebook.katana" /> <!-- Facebook -->
        <package android:name="com.facebook.orca" /> <!-- Facebook Messenger -->
        <package android:name="com.linkedin.android" /> <!-- LinkedIn -->
        <package android:name="com.instagram.android" /> <!-- Instagram -->
        <package android:name="com.twitter.android" /> <!-- Twitter/X -->
        <package android:name="com.google.android.youtube" /> <!-- YouTube -->
        <package android:name="com.github.android" /> <!-- GitHub -->

        <!-- ব্রাউজার প্যাকেজ -->
        <package android:name="com.android.chrome" />
        <package android:name="org.mozilla.firefox" />

        <!-- প্রসেস টেক্সট (ফ্লাটার ডিফল্ট) -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>